apiVersion: v1
kind: Service
metadata:
  name: inventory-app-db-service
spec:
  selector:
    app: inventory-app-db
  ports:
    - protocol: TCP
      port: 5432
      targetPort: 5433
  type: ClusterIP