apiVersion: v1
kind: Service
metadata:
  name: jaeger-service
spec:
  selector:
    app: jaeger
  ports:
    - name: grpc
      protocol: TCP
      port: 16686
      targetPort: 16686
    - name: udp
      protocol: UDP
      port: 6831
      targetPort: 6831
    - name: tcp
      protocol: TCP
      port: 14250
      targetPort: 14250
  type: NodePort