apiVersion: v1
kind: ConfigMap
metadata:
  name: otel-collector-config
data:
  otel-collector-config.yaml: |
  receivers:
  otlp:
    protocols:
      grpc:
      http:

  exporters:
    logging:
      loglevel: debug

    loki:
      endpoint: "http://loki:3100/loki/api/v1/push" 

    prometheus:
      endpoint: "0.0.0.0:9464"

    jaeger:
      endpoint: "http://jaeger:14250"
      tls:
        insecure: true

  service:
    pipelines:
      logs:
        receivers: [otlp]
        exporters: [logging, loki]

      metrics:
        receivers: [otlp]
        exporters: [prometheus]

      traces:
        receivers: [otlp]
        exporters: [jaeger]
      
